@import "../../../app/styles/variables.scss";

.resumeContainer {
    background-color: rgb(225, 218, 207);
    padding-bottom: 100px;
    overflow: hidden;

    .headerBox {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 90px 0;
    }

    .resumeTitle {
        font-size: 42px;
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            left: -35px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-color: $primary;
        }

        @media (max-width: $mobile) {
            font-size: 32px;

            &::before {
                left: 50%;
                top: -30px;
                transform: translateX(-50%);
            }
        }
    }

    .content {
        max-width: $container-max;
        margin: 0 auto;
        padding: 0 20px;
    }
}