.header {
    width: 100%;


    .headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    
    
        .headerMeInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
    
        .headerList {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }
    }
}
