@import "../../../../app/styles/variables.scss";

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.containerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.downloadButton {
  width: 200px;
  height: 50px;
  background-color: $primary;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(34, 89, 242, 0.2);
  }
}

.title {
  font-size: 36px;
  margin: 0;
}

.timeline {
  position: relative;
  padding: 40px 0;
}

.line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  background: #000;
  transform: translateX(-50%);

  @media (max-width: 768px) {
    left: 20px;
  }
}

.row {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 80px;

  &.rowLeft {
    justify-content: flex-start;
  }

  &.rowRight {
    justify-content: flex-end;
  }

  @media (max-width: 768px) {
    justify-content: flex-start !important;
    padding-left: 50px;
  }
}

.dot {
  position: absolute;
  left: 50%;
  top: 20px;
  width: 14px;
  height: 14px;
  background: $primary;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;

  @media (max-width: 768px) {
    left: 20px;
  }
}

.card {
  width: 42%;
  background: rgba(255, 255, 255, 0.8);
  padding: 28px;
  border-radius: 16px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.08);

  @media (max-width: 768px) {
    width: 100%;
  }
}

.timeTag {
  font-weight: 800;
  color: $primary;
  font-size: 18px;
}

.description {
  margin: 15px 0;
  color: #555;
  line-height: 1.6;
}

.subTitle {
  font-size: 14px;
  text-transform: uppercase;
  margin: 24px 0;
}

.responsibilities {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.respItem {
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.08);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid;
  transition: border-color 0.3s;
}

.techItem {
  background: rgba(34, 89, 242, 0.08);
  color: $primary;
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid rgba(34, 89, 242, 0.2);
  transition: all 0.3s ease;

  &:hover {
    background: $primary;
    color: #fff;
    transform: translateY(-2px);
  }
}